body {
    margin: 0;
    padding: 0;
    /* background: url(../img/bg.jpg) no-repeat center / cover; */
    /* background: #1F1C37; */
    background: #14bdac;
    /* font-family: 'Bad Script', cursive; */
    /* font-family: sans-serif; */
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    --color: #545454;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}

.hints {
    display: flex;
    flex-direction: row;
}

* {
    outline: none;
    /* font-family: 'Bad Script', cursive; */
    /* font-family: sans-serif; */
    font-family: 'Raleway', sans-serif;
    opacity: 1;
}

.main {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    transition: all 0.3s ease;
}

.main.animated {
    animation: rotate 20s infinite alternate;
}

/* header {
    position: fixed;
    top: 10px;
    background: #ffffff;
    width: 35%;
    border-radius: .45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5px;
} */

/* section {
    margin-top: 100px;
} */

button {
    color: var(--color);
    /* color: #14bdac; */
    /* border: 1px solid var(--color); */
    border: none;
    background: unset;
    transition: all 0.3s ease;
    font-size: 22px;
    padding: 5px 25px;
}

.btn-restart {
    margin-right: 10px;
}

.cell {
    /* border: 2px solid #1d1c1cdc; */
    /* border: 5px solid #3E3B64; */
    border: 5px solid #0DA192;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 74px;
    cursor: pointer;
    color: var(--color);
    user-select: none;
    font-weight: bold;
}

.green {
    color: #41ca85;
}

.red {
    color: #d75859;
}

.right {
    border-right-color: transparent;
}

.top {
    border-top-color: transparent;
}

.left {
    border-left-color: transparent;
}

.bottom {
    border-bottom-color: transparent;
}

.btn-restart:hover, .switch-mode:hover {
    transform: scale(1.2);
}

.hint, .level {
    color: var(--color);
    height: 20px;
    font-weight: lighter;
    /* position: relative;
    bottom: 15px; */
}

.level {
    margin-right: 50px;
}

@media screen and (max-width: 1024px) {
    body {
        height: 100vh;
    }
    
    .main {
        height: 750px;
        width: 750px;
        position: relative;
        bottom: 108px;
    }

    .cell {
        font-size: 90px;
    }

    .hint, .level {
        font-size: 55px;
        position: relative;
        bottom: 245px;
    }

    .level {
        margin-right: 70px;
    }

    .btn-restart, .switch-mode {
        font-size: 50px;
    }

    .btn-restart:hover, .switch-mode:hover {
        transform: scale(1);
    }
}

@media screen and (max-width: 980px) {
    body {
        height: 100vh;
    }
    
    .main {
        height: 750px;
        width: 750px;
        position: relative;
        bottom: 108px;
    }

    .cell {
        font-size: 90px;
    }

    .hint, .level {
        font-size: 55px;
        position: relative;
        bottom: 245px;
    }

    .level {
        margin-right: 70px;
    }

    .btn-restart, .switch-mode {
        font-size: 50px;
    }

    .btn-restart:hover, .switch-mode:hover {
        transform: scale(1);
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg) scale(0.6);
    }
}